/* Public Sans */

@font-face {
    font-family: 'public_sansblack';
    src: url('publicsans-black-webfont.woff2') format('woff2'),
         url('fonts/publicsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sansbold';
    src: url('fonts/publicsans-bold-webfont.woff2') format('woff2'),
         url('fonts/publicsans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans ExtraBold';
    src: url('fonts/publicsans-extrabold-webfont.woff2') format('woff2'),
         url('fonts/publicsans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sansextralight';
    src: url('fonts/publicsans-extralight-webfont.woff2') format('woff2'),
         url('fonts/publicsans-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sanslight';
    src: url('fonts/publicsans-light-webfont.woff2') format('woff2'),
         url('fonts/publicsans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sansmedium';
    src: url('fonts/publicsans-medium-webfont.woff2') format('woff2'),
         url('fonts/publicsans-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans';
    src: url('fonts/publicsans-regular-webfont.woff2') format('woff2'),
         url('fonts/publicsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'public_sanssemibold';
    src: url('fonts/publicsans-semibold-webfont.woff2') format('woff2'),
         url('fonts/publicsans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Public Sans Thin';
    src: url('fonts/publicsans-thin-webfont.woff2') format('woff2'),
         url('fonts/publicsans-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p, li, blockquote {
  font-family: "Public Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Public Sans ExtraBold", sans-serif;
}
.wy-nav-side {
  background: #000000;
}
.wy-nav-content {
  color: #000000;
}
.wy-nav-content a,
.wy-nav-content a:visited {
  color: #0071bc;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current > a {
  font-weight: normal;
}
.wy-menu-vertical a:active {
  background-color: #000000;
}
.wy-side-nav-search {
  background-color: #000000;
}
.wy-side-nav-search>div.version {
  color: #f1f1f1;
}
.section p {
    line-height: 28px;
    margin: 0;
    font-size: 20px;
    margin-bottom: 28px;
}
.section li {
    font-size: 20px;
    line-height: 28px;
}
h1 {
  font-size: 200%;
}
.wy-menu-vertical a {
  font-size: 110%;
}
